{
  "openapi": "3.1.0",
  "info": {
    "title": "Passmint API",
    "version": "1.0.0",
    "description": "Issue and manage Apple Wallet and Google Wallet passes. All endpoints are authenticated with a secret API key."
  },
  "servers": [
    {
      "url": "https://api.passmint.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "scannerToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "A scanner device token, obtained from POST /v1/scanners/pair."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your Passmint secret API key, e.g. `pmk_live_…` or `pmk_test_…`. Test keys never touch live data."
      }
    },
    "schemas": {
      "CreateTemplateBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "event",
              "membership",
              "coupon",
              "loyalty",
              "generic"
            ]
          },
          "apple_style": {
            "type": "string",
            "enum": [
              "generic",
              "eventTicket",
              "boardingPass",
              "coupon",
              "storeCard"
            ]
          },
          "design": {
            "type": "object",
            "properties": {
              "description": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "logoText": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "foregroundColor": {
                "type": "string",
                "pattern": "^(rgb\\(\\s*\\d{1,3}\\s*,\\s*\\d{1,3}\\s*,\\s*\\d{1,3}\\s*\\)|#[0-9a-fA-F]{3}([0-9a-fA-F]{3})?)$"
              },
              "backgroundColor": {
                "type": "string",
                "pattern": "^(rgb\\(\\s*\\d{1,3}\\s*,\\s*\\d{1,3}\\s*,\\s*\\d{1,3}\\s*\\)|#[0-9a-fA-F]{3}([0-9a-fA-F]{3})?)$"
              },
              "labelColor": {
                "type": "string",
                "pattern": "^(rgb\\(\\s*\\d{1,3}\\s*,\\s*\\d{1,3}\\s*,\\s*\\d{1,3}\\s*\\)|#[0-9a-fA-F]{3}([0-9a-fA-F]{3})?)$"
              },
              "logoImageKey": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Storage key from an image upload. Leave null to keep none."
              },
              "iconImageKey": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Storage key from an image upload. Leave null to keep none."
              },
              "stripImageKey": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Storage key from an image upload. Leave null to keep none."
              },
              "thumbnailImageKey": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Storage key from an image upload. Leave null to keep none."
              },
              "headerFields": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Stable identifier for this field — the key you pass in field_values when issuing or updating a pass. Letters, numbers and underscores; unique across the design."
                    },
                    "label": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "defaultValue": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "textAlignment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "left",
                        "center",
                        "right",
                        "natural",
                        null
                      ]
                    },
                    "required": {},
                    "changeMessage": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Apple Wallet lock-screen notification for this field, e.g. 'Your seat is now %@'. Must contain %@, which is replaced by the new value. This is the only way an update becomes visible to the holder."
                    }
                  },
                  "required": [
                    "key"
                  ]
                }
              },
              "primaryFields": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Stable identifier for this field — the key you pass in field_values when issuing or updating a pass. Letters, numbers and underscores; unique across the design."
                    },
                    "label": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "defaultValue": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "textAlignment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "left",
                        "center",
                        "right",
                        "natural",
                        null
                      ]
                    },
                    "required": {},
                    "changeMessage": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Apple Wallet lock-screen notification for this field, e.g. 'Your seat is now %@'. Must contain %@, which is replaced by the new value. This is the only way an update becomes visible to the holder."
                    }
                  },
                  "required": [
                    "key"
                  ]
                }
              },
              "secondaryFields": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Stable identifier for this field — the key you pass in field_values when issuing or updating a pass. Letters, numbers and underscores; unique across the design."
                    },
                    "label": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "defaultValue": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "textAlignment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "left",
                        "center",
                        "right",
                        "natural",
                        null
                      ]
                    },
                    "required": {},
                    "changeMessage": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Apple Wallet lock-screen notification for this field, e.g. 'Your seat is now %@'. Must contain %@, which is replaced by the new value. This is the only way an update becomes visible to the holder."
                    }
                  },
                  "required": [
                    "key"
                  ]
                }
              },
              "auxiliaryFields": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Stable identifier for this field — the key you pass in field_values when issuing or updating a pass. Letters, numbers and underscores; unique across the design."
                    },
                    "label": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "defaultValue": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "textAlignment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "left",
                        "center",
                        "right",
                        "natural",
                        null
                      ]
                    },
                    "required": {},
                    "changeMessage": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Apple Wallet lock-screen notification for this field, e.g. 'Your seat is now %@'. Must contain %@, which is replaced by the new value. This is the only way an update becomes visible to the holder."
                    }
                  },
                  "required": [
                    "key"
                  ]
                }
              },
              "backFields": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Stable identifier for this field — the key you pass in field_values when issuing or updating a pass. Letters, numbers and underscores; unique across the design."
                    },
                    "label": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "defaultValue": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "textAlignment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "left",
                        "center",
                        "right",
                        "natural",
                        null
                      ]
                    },
                    "required": {},
                    "changeMessage": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Apple Wallet lock-screen notification for this field, e.g. 'Your seat is now %@'. Must contain %@, which is replaced by the new value. This is the only way an update becomes visible to the holder."
                    }
                  },
                  "required": [
                    "key"
                  ]
                }
              },
              "barcodeFormat": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "PKBarcodeFormatQR",
                  "PKBarcodeFormatPDF417",
                  "PKBarcodeFormatAztec",
                  "PKBarcodeFormatCode128",
                  null
                ]
              },
              "barcodeMessageTemplate": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "What the barcode encodes. Use '{{serialNumber}}' — scanning looks passes up by serial number, and it is unique per pass. '{{fieldValues.<key>}}' inserts a field value. No other placeholders exist."
              },
              "issuerName": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 64,
                "description": "The issuer shown on the pass and in its notifications (Apple organizationName; Google issuer/program name unless logoText is set). Defaults to your organization's name."
              },
              "locations": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "number",
                      "minimum": -90,
                      "maximum": 90
                    },
                    "longitude": {
                      "type": "number",
                      "minimum": -180,
                      "maximum": 180
                    },
                    "altitude": {
                      "type": "number"
                    },
                    "relevantText": {
                      "type": "string",
                      "maxLength": 256,
                      "description": "Lock-screen text Apple Wallet shows near this location."
                    }
                  },
                  "required": [
                    "latitude",
                    "longitude"
                  ]
                },
                "maxItems": 10,
                "description": "Up to 10 places the pass is relevant near. Apple Wallet suggests the pass on the lock screen there; Google Wallet stores them on the pass."
              },
              "relevantDate": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}(:\\d{2}(\\.\\d+)?)?(Z|[+-]\\d{2}:\\d{2})$",
                "description": "ISO 8601 with offset. Apple Wallet surfaces the pass around this time. Apple only."
              },
              "google": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "loyaltyPoints": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "fieldKey": {
                        "type": "string",
                        "maxLength": 48,
                        "pattern": "^[A-Za-z0-9_]+$",
                        "description": "Key of a field declared in this design. Its value on each pass (or the field's default) is the balance, sent to Google as text."
                      },
                      "label": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64,
                        "description": "Shown next to the balance in Google Wallet, e.g. 'Stamps'."
                      }
                    },
                    "required": [
                      "fieldKey",
                      "label"
                    ]
                  },
                  "secondaryLoyaltyPoints": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "fieldKey": {
                        "type": "string",
                        "maxLength": 48,
                        "pattern": "^[A-Za-z0-9_]+$",
                        "description": "Key of a field declared in this design. Its value on each pass (or the field's default) is the balance, sent to Google as text."
                      },
                      "label": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64,
                        "description": "Shown next to the balance in Google Wallet, e.g. 'Stamps'."
                      }
                    },
                    "required": [
                      "fieldKey",
                      "label"
                    ]
                  },
                  "accountNameFieldKey": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 48,
                    "pattern": "^[A-Za-z0-9_]+$",
                    "description": "Key of a field whose value is the card holder's name in Google Wallet. Omit to keep showing the description there, as cards always have."
                  }
                },
                "description": "Google Wallet only, storeCard templates only: show template fields as the loyalty card's native balance and holder name. Apple Wallet is unaffected."
              }
            },
            "required": [
              "foregroundColor",
              "backgroundColor",
              "labelColor"
            ]
          },
          "platforms": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "apple",
                "google"
              ]
            }
          },
          "starter_template_id": {
            "type": "string"
          },
          "require_download_link": {
            "type": "boolean"
          },
          "redemption_policy": {
            "$ref": "#/components/schemas/RedemptionPolicyInput"
          }
        },
        "required": [
          "name",
          "type",
          "apple_style",
          "design"
        ]
      },
      "RedemptionPolicyInput": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "single_use",
              "reusable",
              "count"
            ]
          },
          "max_uses": {
            "type": "integer",
            "minimum": 1,
            "description": "Required when mode is count."
          }
        },
        "required": [
          "mode"
        ]
      },
      "UpdateTemplateBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "design": {
            "type": "object",
            "properties": {
              "description": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "logoText": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "foregroundColor": {
                "type": "string",
                "pattern": "^(rgb\\(\\s*\\d{1,3}\\s*,\\s*\\d{1,3}\\s*,\\s*\\d{1,3}\\s*\\)|#[0-9a-fA-F]{3}([0-9a-fA-F]{3})?)$"
              },
              "backgroundColor": {
                "type": "string",
                "pattern": "^(rgb\\(\\s*\\d{1,3}\\s*,\\s*\\d{1,3}\\s*,\\s*\\d{1,3}\\s*\\)|#[0-9a-fA-F]{3}([0-9a-fA-F]{3})?)$"
              },
              "labelColor": {
                "type": "string",
                "pattern": "^(rgb\\(\\s*\\d{1,3}\\s*,\\s*\\d{1,3}\\s*,\\s*\\d{1,3}\\s*\\)|#[0-9a-fA-F]{3}([0-9a-fA-F]{3})?)$"
              },
              "logoImageKey": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Storage key from an image upload. Leave null to keep none."
              },
              "iconImageKey": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Storage key from an image upload. Leave null to keep none."
              },
              "stripImageKey": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Storage key from an image upload. Leave null to keep none."
              },
              "thumbnailImageKey": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Storage key from an image upload. Leave null to keep none."
              },
              "headerFields": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Stable identifier for this field — the key you pass in field_values when issuing or updating a pass. Letters, numbers and underscores; unique across the design."
                    },
                    "label": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "defaultValue": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "textAlignment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "left",
                        "center",
                        "right",
                        "natural",
                        null
                      ]
                    },
                    "required": {},
                    "changeMessage": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Apple Wallet lock-screen notification for this field, e.g. 'Your seat is now %@'. Must contain %@, which is replaced by the new value. This is the only way an update becomes visible to the holder."
                    }
                  },
                  "required": [
                    "key"
                  ]
                }
              },
              "primaryFields": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Stable identifier for this field — the key you pass in field_values when issuing or updating a pass. Letters, numbers and underscores; unique across the design."
                    },
                    "label": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "defaultValue": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "textAlignment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "left",
                        "center",
                        "right",
                        "natural",
                        null
                      ]
                    },
                    "required": {},
                    "changeMessage": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Apple Wallet lock-screen notification for this field, e.g. 'Your seat is now %@'. Must contain %@, which is replaced by the new value. This is the only way an update becomes visible to the holder."
                    }
                  },
                  "required": [
                    "key"
                  ]
                }
              },
              "secondaryFields": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Stable identifier for this field — the key you pass in field_values when issuing or updating a pass. Letters, numbers and underscores; unique across the design."
                    },
                    "label": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "defaultValue": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "textAlignment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "left",
                        "center",
                        "right",
                        "natural",
                        null
                      ]
                    },
                    "required": {},
                    "changeMessage": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Apple Wallet lock-screen notification for this field, e.g. 'Your seat is now %@'. Must contain %@, which is replaced by the new value. This is the only way an update becomes visible to the holder."
                    }
                  },
                  "required": [
                    "key"
                  ]
                }
              },
              "auxiliaryFields": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Stable identifier for this field — the key you pass in field_values when issuing or updating a pass. Letters, numbers and underscores; unique across the design."
                    },
                    "label": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "defaultValue": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "textAlignment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "left",
                        "center",
                        "right",
                        "natural",
                        null
                      ]
                    },
                    "required": {},
                    "changeMessage": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Apple Wallet lock-screen notification for this field, e.g. 'Your seat is now %@'. Must contain %@, which is replaced by the new value. This is the only way an update becomes visible to the holder."
                    }
                  },
                  "required": [
                    "key"
                  ]
                }
              },
              "backFields": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Stable identifier for this field — the key you pass in field_values when issuing or updating a pass. Letters, numbers and underscores; unique across the design."
                    },
                    "label": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "defaultValue": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "textAlignment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "left",
                        "center",
                        "right",
                        "natural",
                        null
                      ]
                    },
                    "required": {},
                    "changeMessage": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Apple Wallet lock-screen notification for this field, e.g. 'Your seat is now %@'. Must contain %@, which is replaced by the new value. This is the only way an update becomes visible to the holder."
                    }
                  },
                  "required": [
                    "key"
                  ]
                }
              },
              "barcodeFormat": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "PKBarcodeFormatQR",
                  "PKBarcodeFormatPDF417",
                  "PKBarcodeFormatAztec",
                  "PKBarcodeFormatCode128",
                  null
                ]
              },
              "barcodeMessageTemplate": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "What the barcode encodes. Use '{{serialNumber}}' — scanning looks passes up by serial number, and it is unique per pass. '{{fieldValues.<key>}}' inserts a field value. No other placeholders exist."
              },
              "issuerName": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 64,
                "description": "The issuer shown on the pass and in its notifications (Apple organizationName; Google issuer/program name unless logoText is set). Defaults to your organization's name."
              },
              "locations": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "number",
                      "minimum": -90,
                      "maximum": 90
                    },
                    "longitude": {
                      "type": "number",
                      "minimum": -180,
                      "maximum": 180
                    },
                    "altitude": {
                      "type": "number"
                    },
                    "relevantText": {
                      "type": "string",
                      "maxLength": 256,
                      "description": "Lock-screen text Apple Wallet shows near this location."
                    }
                  },
                  "required": [
                    "latitude",
                    "longitude"
                  ]
                },
                "maxItems": 10,
                "description": "Up to 10 places the pass is relevant near. Apple Wallet suggests the pass on the lock screen there; Google Wallet stores them on the pass."
              },
              "relevantDate": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}(:\\d{2}(\\.\\d+)?)?(Z|[+-]\\d{2}:\\d{2})$",
                "description": "ISO 8601 with offset. Apple Wallet surfaces the pass around this time. Apple only."
              },
              "google": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "loyaltyPoints": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "fieldKey": {
                        "type": "string",
                        "maxLength": 48,
                        "pattern": "^[A-Za-z0-9_]+$",
                        "description": "Key of a field declared in this design. Its value on each pass (or the field's default) is the balance, sent to Google as text."
                      },
                      "label": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64,
                        "description": "Shown next to the balance in Google Wallet, e.g. 'Stamps'."
                      }
                    },
                    "required": [
                      "fieldKey",
                      "label"
                    ]
                  },
                  "secondaryLoyaltyPoints": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "fieldKey": {
                        "type": "string",
                        "maxLength": 48,
                        "pattern": "^[A-Za-z0-9_]+$",
                        "description": "Key of a field declared in this design. Its value on each pass (or the field's default) is the balance, sent to Google as text."
                      },
                      "label": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64,
                        "description": "Shown next to the balance in Google Wallet, e.g. 'Stamps'."
                      }
                    },
                    "required": [
                      "fieldKey",
                      "label"
                    ]
                  },
                  "accountNameFieldKey": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 48,
                    "pattern": "^[A-Za-z0-9_]+$",
                    "description": "Key of a field whose value is the card holder's name in Google Wallet. Omit to keep showing the description there, as cards always have."
                  }
                },
                "description": "Google Wallet only, storeCard templates only: show template fields as the loyalty card's native balance and holder name. Apple Wallet is unaffected."
              }
            },
            "required": [
              "foregroundColor",
              "backgroundColor",
              "labelColor"
            ]
          },
          "archived": {
            "type": "boolean"
          },
          "platforms": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "apple",
                "google"
              ]
            }
          },
          "certificate_set_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "google_issuer_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "require_download_link": {
            "type": "boolean"
          },
          "redemption_policy": {
            "$ref": "#/components/schemas/RedemptionPolicyInput"
          }
        }
      },
      "CreateWebhookBody": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The HTTPS URL events are POSTed to.",
            "example": "https://example.com/hooks/passmint"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Required, non-empty. Event types to deliver, or `*` for all pass events (template.republished must be subscribed by name).",
            "example": [
              "pass.redeemed"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "enabled": {
            "type": "boolean",
            "description": "Defaults to true."
          }
        },
        "required": [
          "url",
          "events"
        ]
      },
      "UpdateWebhookBody": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Event types to deliver (for example `pass.redeemed`), or `*` for all pass events (template.republished must be subscribed by name).",
            "example": [
              "pass.redeemed"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "BackfillBody": {
        "type": "object",
        "properties": {
          "since": {
            "type": "string",
            "description": "ISO 8601 start of the window. Required.",
            "example": "2026-10-01T00:00:00Z"
          },
          "until": {
            "type": "string",
            "description": "ISO 8601 end of the window. Defaults to now. The window is capped in length."
          }
        },
        "required": [
          "since"
        ]
      },
      "PassIssuedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "pass.issued"
            ]
          },
          "api_version": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "idempotency_key": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "object": {
                "type": "object",
                "properties": {
                  "pass": {
                    "$ref": "#/components/schemas/EventPassSnapshot"
                  }
                },
                "required": [
                  "pass"
                ]
              }
            },
            "required": [
              "object"
            ]
          },
          "source": {
            "type": "object",
            "properties": {
              "platform": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "apple",
                  "google",
                  null
                ]
              },
              "unit": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "device",
                  "object",
                  null
                ]
              },
              "confidence": {
                "type": "string",
                "enum": [
                  "exact",
                  "best_effort",
                  "unconfirmed"
                ]
              }
            },
            "required": [
              "platform",
              "unit",
              "confidence"
            ]
          },
          "previous_attributes": {
            "type": "null"
          }
        },
        "required": [
          "id",
          "object",
          "type",
          "api_version",
          "created_at",
          "idempotency_key",
          "livemode",
          "data",
          "source",
          "previous_attributes"
        ]
      },
      "EventPassSnapshot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "short_id": {
            "type": "string"
          },
          "template_id": {
            "type": "string"
          },
          "organization_id": {
            "type": "string"
          },
          "serial_number": {
            "type": "string"
          },
          "holder": {
            "type": "object",
            "properties": {
              "email_hash": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "name_present": {
                "type": "boolean"
              }
            },
            "required": [
              "email_hash",
              "name_present"
            ]
          },
          "voided": {
            "type": "boolean"
          },
          "image_variant": {
            "type": [
              "string",
              "null"
            ],
            "description": "The template image variant the pass renders with, or null for the template's own images."
          },
          "url": {
            "type": "string"
          },
          "download_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "google_wallet_url": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "short_id",
          "template_id",
          "organization_id",
          "serial_number",
          "holder",
          "voided",
          "image_variant",
          "url",
          "download_url",
          "google_wallet_url"
        ]
      },
      "PassAddIntentEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "pass.add_intent"
            ]
          },
          "api_version": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "idempotency_key": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "object": {
                "type": "object",
                "properties": {
                  "pass": {
                    "$ref": "#/components/schemas/EventPassSnapshot"
                  }
                },
                "required": [
                  "pass"
                ]
              }
            },
            "required": [
              "object"
            ]
          },
          "source": {
            "type": "object",
            "properties": {
              "platform": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "apple",
                  "google",
                  null
                ]
              },
              "unit": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "device",
                  "object",
                  null
                ]
              },
              "confidence": {
                "type": "string",
                "enum": [
                  "exact",
                  "best_effort",
                  "unconfirmed"
                ]
              }
            },
            "required": [
              "platform",
              "unit",
              "confidence"
            ]
          },
          "previous_attributes": {
            "type": "null"
          }
        },
        "required": [
          "id",
          "object",
          "type",
          "api_version",
          "created_at",
          "idempotency_key",
          "livemode",
          "data",
          "source",
          "previous_attributes"
        ]
      },
      "PassAddedToWalletEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "pass.added_to_wallet"
            ]
          },
          "api_version": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "idempotency_key": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "object": {
                "type": "object",
                "properties": {
                  "pass": {
                    "$ref": "#/components/schemas/EventPassSnapshot"
                  }
                },
                "required": [
                  "pass"
                ]
              }
            },
            "required": [
              "object"
            ]
          },
          "source": {
            "type": "object",
            "properties": {
              "platform": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "apple",
                  "google",
                  null
                ]
              },
              "unit": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "device",
                  "object",
                  null
                ]
              },
              "confidence": {
                "type": "string",
                "enum": [
                  "exact",
                  "best_effort",
                  "unconfirmed"
                ]
              }
            },
            "required": [
              "platform",
              "unit",
              "confidence"
            ]
          },
          "previous_attributes": {
            "type": "null"
          }
        },
        "required": [
          "id",
          "object",
          "type",
          "api_version",
          "created_at",
          "idempotency_key",
          "livemode",
          "data",
          "source",
          "previous_attributes"
        ]
      },
      "PassUpdatePushedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "pass.update_pushed"
            ]
          },
          "api_version": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "idempotency_key": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "object": {
                "type": "object",
                "properties": {
                  "pass": {
                    "$ref": "#/components/schemas/EventPassSnapshot"
                  }
                },
                "required": [
                  "pass"
                ]
              }
            },
            "required": [
              "object"
            ]
          },
          "source": {
            "type": "object",
            "properties": {
              "platform": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "apple",
                  "google",
                  null
                ]
              },
              "unit": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "device",
                  "object",
                  null
                ]
              },
              "confidence": {
                "type": "string",
                "enum": [
                  "exact",
                  "best_effort",
                  "unconfirmed"
                ]
              }
            },
            "required": [
              "platform",
              "unit",
              "confidence"
            ]
          },
          "previous_attributes": {
            "type": "null"
          }
        },
        "required": [
          "id",
          "object",
          "type",
          "api_version",
          "created_at",
          "idempotency_key",
          "livemode",
          "data",
          "source",
          "previous_attributes"
        ]
      },
      "PassUpdateDeliveredEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "pass.update_delivered"
            ]
          },
          "api_version": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "idempotency_key": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "object": {
                "type": "object",
                "properties": {
                  "pass": {
                    "$ref": "#/components/schemas/EventPassSnapshot"
                  }
                },
                "required": [
                  "pass"
                ]
              }
            },
            "required": [
              "object"
            ]
          },
          "source": {
            "type": "object",
            "properties": {
              "platform": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "apple",
                  "google",
                  null
                ]
              },
              "unit": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "device",
                  "object",
                  null
                ]
              },
              "confidence": {
                "type": "string",
                "enum": [
                  "exact",
                  "best_effort",
                  "unconfirmed"
                ]
              }
            },
            "required": [
              "platform",
              "unit",
              "confidence"
            ]
          },
          "previous_attributes": {
            "type": "null"
          }
        },
        "required": [
          "id",
          "object",
          "type",
          "api_version",
          "created_at",
          "idempotency_key",
          "livemode",
          "data",
          "source",
          "previous_attributes"
        ]
      },
      "PassUpdateFailedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "pass.update_failed"
            ]
          },
          "api_version": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "idempotency_key": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "object": {
                "type": "object",
                "properties": {
                  "pass": {
                    "$ref": "#/components/schemas/EventPassSnapshot"
                  },
                  "delivery_failure": {
                    "$ref": "#/components/schemas/EventDeliveryFailure"
                  }
                },
                "required": [
                  "pass",
                  "delivery_failure"
                ]
              }
            },
            "required": [
              "object"
            ]
          },
          "source": {
            "type": "object",
            "properties": {
              "platform": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "apple",
                  "google",
                  null
                ]
              },
              "unit": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "device",
                  "object",
                  null
                ]
              },
              "confidence": {
                "type": "string",
                "enum": [
                  "exact",
                  "best_effort",
                  "unconfirmed"
                ]
              }
            },
            "required": [
              "platform",
              "unit",
              "confidence"
            ]
          },
          "previous_attributes": {
            "type": "null"
          }
        },
        "required": [
          "id",
          "object",
          "type",
          "api_version",
          "created_at",
          "idempotency_key",
          "livemode",
          "data",
          "source",
          "previous_attributes"
        ]
      },
      "EventDeliveryFailure": {
        "type": "object",
        "properties": {
          "platform": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "apple",
              "google",
              null
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "failed": {
            "type": [
              "number",
              "null"
            ]
          },
          "devices": {
            "type": [
              "number",
              "null"
            ]
          },
          "context": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "update",
              "void",
              null
            ]
          }
        },
        "required": [
          "platform",
          "reason",
          "failed",
          "devices",
          "context"
        ],
        "description": "`data.object.delivery_failure`, present on `pass.update_failed`."
      },
      "PassRemovedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "pass.removed"
            ]
          },
          "api_version": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "idempotency_key": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "object": {
                "type": "object",
                "properties": {
                  "pass": {
                    "$ref": "#/components/schemas/EventPassSnapshot"
                  }
                },
                "required": [
                  "pass"
                ]
              }
            },
            "required": [
              "object"
            ]
          },
          "source": {
            "type": "object",
            "properties": {
              "platform": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "apple",
                  "google",
                  null
                ]
              },
              "unit": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "device",
                  "object",
                  null
                ]
              },
              "confidence": {
                "type": "string",
                "enum": [
                  "exact",
                  "best_effort",
                  "unconfirmed"
                ]
              }
            },
            "required": [
              "platform",
              "unit",
              "confidence"
            ]
          },
          "previous_attributes": {
            "type": "null"
          }
        },
        "required": [
          "id",
          "object",
          "type",
          "api_version",
          "created_at",
          "idempotency_key",
          "livemode",
          "data",
          "source",
          "previous_attributes"
        ]
      },
      "PassVoidedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "pass.voided"
            ]
          },
          "api_version": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "idempotency_key": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "object": {
                "type": "object",
                "properties": {
                  "pass": {
                    "$ref": "#/components/schemas/EventPassSnapshot"
                  }
                },
                "required": [
                  "pass"
                ]
              }
            },
            "required": [
              "object"
            ]
          },
          "source": {
            "type": "object",
            "properties": {
              "platform": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "apple",
                  "google",
                  null
                ]
              },
              "unit": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "device",
                  "object",
                  null
                ]
              },
              "confidence": {
                "type": "string",
                "enum": [
                  "exact",
                  "best_effort",
                  "unconfirmed"
                ]
              }
            },
            "required": [
              "platform",
              "unit",
              "confidence"
            ]
          },
          "previous_attributes": {
            "type": "null"
          }
        },
        "required": [
          "id",
          "object",
          "type",
          "api_version",
          "created_at",
          "idempotency_key",
          "livemode",
          "data",
          "source",
          "previous_attributes"
        ]
      },
      "PassRedeemedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "pass.redeemed"
            ]
          },
          "api_version": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "idempotency_key": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "object": {
                "type": "object",
                "properties": {
                  "pass": {
                    "$ref": "#/components/schemas/EventPassSnapshot"
                  },
                  "redemption": {
                    "$ref": "#/components/schemas/EventRedemption"
                  }
                },
                "required": [
                  "pass",
                  "redemption"
                ]
              }
            },
            "required": [
              "object"
            ]
          },
          "source": {
            "type": "object",
            "properties": {
              "platform": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "apple",
                  "google",
                  null
                ]
              },
              "unit": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "device",
                  "object",
                  null
                ]
              },
              "confidence": {
                "type": "string",
                "enum": [
                  "exact",
                  "best_effort",
                  "unconfirmed"
                ]
              }
            },
            "required": [
              "platform",
              "unit",
              "confidence"
            ]
          },
          "previous_attributes": {
            "type": "null"
          }
        },
        "required": [
          "id",
          "object",
          "type",
          "api_version",
          "created_at",
          "idempotency_key",
          "livemode",
          "data",
          "source",
          "previous_attributes"
        ]
      },
      "EventRedemption": {
        "type": "object",
        "properties": {
          "id": {
            "type": [
              "string",
              "null"
            ]
          },
          "scanner_device_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "scans_used": {
            "type": [
              "number",
              "null"
            ]
          },
          "policy_mode": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "scanner_device_id",
          "scans_used",
          "policy_mode"
        ],
        "description": "`data.object.redemption`, present on `pass.redeemed`."
      },
      "TemplateRepublishedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "template.republished"
            ]
          },
          "api_version": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "idempotency_key": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "object": {
                "type": "object",
                "properties": {
                  "template_republish": {
                    "$ref": "#/components/schemas/TemplateRepublish"
                  }
                },
                "required": [
                  "template_republish"
                ]
              }
            },
            "required": [
              "object"
            ]
          },
          "source": {
            "type": "object",
            "properties": {
              "platform": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "apple",
                  "google",
                  null
                ]
              },
              "unit": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "device",
                  "object",
                  null
                ]
              },
              "confidence": {
                "type": "string",
                "enum": [
                  "exact",
                  "best_effort",
                  "unconfirmed"
                ]
              }
            },
            "required": [
              "platform",
              "unit",
              "confidence"
            ]
          },
          "previous_attributes": {
            "type": "null"
          }
        },
        "required": [
          "id",
          "object",
          "type",
          "api_version",
          "created_at",
          "idempotency_key",
          "livemode",
          "data",
          "source",
          "previous_attributes"
        ]
      },
      "TemplateRepublish": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "template_republish"
            ]
          },
          "id": {
            "type": "string"
          },
          "template_id": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "completed"
            ]
          },
          "google": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "synced",
                  "failed",
                  "skipped"
                ],
                "description": "The Google Wallet class sync: one write that carries the issuer name, colour, logo and hero to every Google holder. `skipped`: no pass on this template has a Google object."
              },
              "error": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "objects": {
                "type": "object",
                "properties": {
                  "total": {
                    "type": "integer"
                  },
                  "done": {
                    "type": "integer"
                  },
                  "failed": {
                    "type": "integer"
                  }
                },
                "required": [
                  "total",
                  "done",
                  "failed"
                ],
                "description": "Per-pass Google object updates. Zero when the change only touched the class (name, logo, hero)."
              }
            },
            "required": [
              "status",
              "error",
              "objects"
            ]
          },
          "apple": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "done": {
                "type": "integer"
              },
              "failed": {
                "type": "integer"
              }
            },
            "required": [
              "total",
              "done",
              "failed"
            ],
            "description": "Apple passes re-signed and pushed: those with an installed device, plus never-installed ones when the artwork changed."
          },
          "created_at": {
            "type": "string"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "template_id",
          "livemode",
          "status",
          "google",
          "apple",
          "created_at",
          "completed_at"
        ]
      },
      "ScannerPairing": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "scanner_pairing"
            ]
          },
          "token": {
            "type": "string"
          },
          "device": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "mode": {
                "type": "string",
                "enum": [
                  "test",
                  "live"
                ]
              },
              "template_id": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "id",
              "name",
              "mode",
              "template_id"
            ]
          }
        },
        "required": [
          "object",
          "token",
          "device"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "authentication_error",
                  "authorization_error",
                  "invalid_request_error",
                  "not_found_error",
                  "rate_limit_error",
                  "idempotency_error",
                  "api_error",
                  "billing_error"
                ]
              },
              "code": {
                "type": "string",
                "description": "A stable, machine-readable code when the error has a specific cause. Not exhaustive: treat unknown codes as the generic error for the `type`. Codes include `api_key_expired` (401, the key's expiry has passed), `insufficient_scope` (403, the key's scopes do not allow this route), `invalid_limit` (400, `limit` is negative, fractional or non-numeric; 0 is valid and a limit over the maximum is clamped), `invalid_cursor` (400, `starting_after` is not an id on this list), `republish_in_progress` (429, too many template republishes running), `republish_unavailable` (503, try again shortly) and `plan_limit_exceeded` (402).",
                "examples": [
                  "api_key_expired",
                  "insufficient_scope",
                  "invalid_limit",
                  "invalid_cursor"
                ]
              },
              "message": {
                "type": "string"
              },
              "param": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "ScanCodeRequest": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512
          }
        },
        "required": [
          "code"
        ]
      },
      "Account": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "account"
            ]
          },
          "organization_id": {
            "type": "string"
          },
          "organization_name": {
            "type": "string"
          },
          "organization_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "mode": {
            "type": "string",
            "enum": [
              "test",
              "live"
            ]
          },
          "plan": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "name"
            ]
          },
          "usage": {
            "type": "object",
            "properties": {
              "period_start": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "api_calls": {
                "type": "object",
                "properties": {
                  "used": {
                    "type": "integer"
                  },
                  "quota": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "grace_ceiling": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  }
                },
                "required": [
                  "used",
                  "quota",
                  "grace_ceiling"
                ]
              },
              "active_passes": {
                "type": "object",
                "properties": {
                  "used": {
                    "type": "integer"
                  },
                  "included": {
                    "type": "integer"
                  },
                  "ceiling": {
                    "type": "integer"
                  }
                },
                "required": [
                  "used",
                  "included",
                  "ceiling"
                ]
              }
            },
            "required": [
              "period_start",
              "api_calls",
              "active_passes"
            ],
            "description": "Live-mode usage in the current billing period (a rolling 30 days on plans without one). Pass issuance stops at api_calls.quota; other live writes continue to api_calls.grace_ceiling."
          },
          "credentials": {
            "type": "object",
            "properties": {
              "apple_certificates": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "pass_type_identifier": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending_certificate",
                        "active",
                        "revoked"
                      ]
                    },
                    "expires_at": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "pass_type_identifier",
                    "status",
                    "expires_at"
                  ]
                }
              },
              "google_issuers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "issuer_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "active",
                        "revoked"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "issuer_id",
                    "status"
                  ]
                }
              }
            },
            "required": [
              "apple_certificates",
              "google_issuers"
            ],
            "description": "The organization's own signing credentials. Live passes are only signed with these, never with Passmint's shared test credentials."
          }
        },
        "required": [
          "object",
          "organization_id",
          "organization_name",
          "organization_slug",
          "mode",
          "plan",
          "usage",
          "credentials"
        ]
      },
      "EventList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "has_more": {
            "type": "boolean"
          }
        },
        "required": [
          "object",
          "data",
          "has_more"
        ]
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "pass.issued",
              "pass.add_intent",
              "pass.added_to_wallet",
              "pass.update_pushed",
              "pass.update_delivered",
              "pass.update_failed",
              "pass.removed",
              "pass.voided",
              "pass.redeemed",
              "template.republished"
            ]
          },
          "api_version": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "idempotency_key": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "object": {
                "type": "object",
                "properties": {
                  "pass": {
                    "$ref": "#/components/schemas/EventPassSnapshot"
                  },
                  "redemption": {
                    "$ref": "#/components/schemas/EventRedemption"
                  },
                  "delivery_failure": {
                    "$ref": "#/components/schemas/EventDeliveryFailure"
                  }
                },
                "required": [
                  "pass"
                ]
              }
            },
            "required": [
              "object"
            ]
          },
          "source": {
            "type": "object",
            "properties": {
              "platform": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "apple",
                  "google",
                  null
                ]
              },
              "unit": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "device",
                  "object",
                  null
                ]
              },
              "confidence": {
                "type": "string",
                "enum": [
                  "exact",
                  "best_effort",
                  "unconfirmed"
                ]
              }
            },
            "required": [
              "platform",
              "unit",
              "confidence"
            ]
          },
          "previous_attributes": {
            "type": "null"
          }
        },
        "required": [
          "id",
          "object",
          "type",
          "api_version",
          "created_at",
          "idempotency_key",
          "livemode",
          "data",
          "source",
          "previous_attributes"
        ]
      },
      "Funnel": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "funnel"
            ]
          },
          "group_by": {
            "type": "string",
            "enum": [
              "total",
              "template",
              "platform",
              "date",
              "mode"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FunnelSummary"
            }
          },
          "confidence": {
            "$ref": "#/components/schemas/FunnelConfidence"
          }
        },
        "required": [
          "object",
          "group_by",
          "data",
          "confidence"
        ]
      },
      "FunnelSummary": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "issued": {
            "type": "number"
          },
          "add_intent": {
            "type": "number"
          },
          "added": {
            "type": "number"
          },
          "active": {
            "type": "number"
          },
          "removed": {
            "type": "number"
          },
          "update_pushed": {
            "type": "number"
          },
          "update_delivered": {
            "type": "number"
          },
          "install_rate": {
            "type": [
              "number",
              "null"
            ]
          },
          "removal_rate": {
            "type": [
              "number",
              "null"
            ]
          },
          "update_delivery_rate": {
            "type": [
              "number",
              "null"
            ]
          }
        },
        "required": [
          "key",
          "issued",
          "add_intent",
          "added",
          "active",
          "removed",
          "update_pushed",
          "update_delivered",
          "install_rate",
          "removal_rate",
          "update_delivery_rate"
        ]
      },
      "FunnelConfidence": {
        "type": "object",
        "properties": {
          "removed": {
            "type": "string"
          },
          "update_delivery_rate": {
            "type": "string"
          },
          "active": {
            "type": "string"
          }
        },
        "required": [
          "removed",
          "update_delivery_rate",
          "active"
        ]
      },
      "TemplateList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          },
          "has_more": {
            "type": "boolean"
          }
        },
        "required": [
          "object",
          "data",
          "has_more"
        ]
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "template"
            ]
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "apple_style": {
            "type": "string"
          },
          "starter_template_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "design": {
            "$ref": "#/components/schemas/TemplateDesign"
          },
          "archived": {
            "type": "boolean"
          },
          "platforms": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "apple",
                "google"
              ]
            }
          },
          "certificate_set_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "google_issuer_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "require_download_link": {
            "type": "boolean"
          },
          "redemption_policy": {
            "$ref": "#/components/schemas/RedemptionPolicy"
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Present only when the saved design breaks a recommended rule (an Apple field limit, a duplicate field key, an unknown barcode placeholder, an image the pass style cannot show). The template is saved; fix these before they surprise you at issuance."
          },
          "image_variants": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The template's image variant names that hold at least one image, sorted. A pass selects one with `image_variant`.",
            "example": [
              "0",
              "1",
              "2",
              "reward"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "object",
          "name",
          "type",
          "apple_style",
          "starter_template_id",
          "design",
          "archived",
          "platforms",
          "certificate_set_id",
          "google_issuer_id",
          "require_download_link",
          "redemption_policy",
          "image_variants",
          "created_at",
          "updated_at"
        ]
      },
      "TemplateDesign": {
        "type": "object",
        "properties": {
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "logoText": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "properties": {
                  "default": {
                    "type": "string"
                  },
                  "translations": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "default"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "foregroundColor": {
            "type": "string"
          },
          "backgroundColor": {
            "type": "string"
          },
          "labelColor": {
            "type": "string"
          },
          "headerFields": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "label": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "default": {
                          "type": "string"
                        },
                        "translations": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "default"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "defaultValue": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "textAlignment": {
                  "type": "string"
                },
                "changeMessage": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "key"
              ],
              "additionalProperties": {}
            }
          },
          "primaryFields": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "label": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "default": {
                          "type": "string"
                        },
                        "translations": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "default"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "defaultValue": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "textAlignment": {
                  "type": "string"
                },
                "changeMessage": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "key"
              ],
              "additionalProperties": {}
            }
          },
          "secondaryFields": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "label": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "default": {
                          "type": "string"
                        },
                        "translations": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "default"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "defaultValue": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "textAlignment": {
                  "type": "string"
                },
                "changeMessage": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "key"
              ],
              "additionalProperties": {}
            }
          },
          "auxiliaryFields": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "label": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "default": {
                          "type": "string"
                        },
                        "translations": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "default"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "defaultValue": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "textAlignment": {
                  "type": "string"
                },
                "changeMessage": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "key"
              ],
              "additionalProperties": {}
            }
          },
          "backFields": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "label": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "default": {
                          "type": "string"
                        },
                        "translations": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "default"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "defaultValue": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "textAlignment": {
                  "type": "string"
                },
                "changeMessage": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "key"
              ],
[...]
